@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
      --color-black: #000000;
  --color-primary: #2563eb;
  --color-primary-dark: #3a6d42;
  --color-text-light: rgba(255, 255, 255, 0.85);
  --color-border-light: rgba(255, 255, 255, 0.25);  
  --color-menu-bg: #4d8b55;
  --color-hover: #452829;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background: #EEF3FA;
    color: #111827;
}

img{
    max-width: 100%;
    display: block;
}

button{
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'poppins', sans-serif;
}

h2 {
    font-family: 'poppins' sans-serif;
}


p{
    font-family: 'inter' sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.header{
    width: 100%;
    height: 80px;

    background: white;
    z-index: 999;
    border-bottom: 2px solid #2F6BFF;
    position: fixed;
    left: 0;
    top: 0;

}

.header-content{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 140px;
}

.menu-header{
    display: flex;
    gap: 40px;
}

.menu-header a{
    text-decoration: none;

    color: #5D6472;

    font-size: 17px;
    font-weight: 500;

    transition: 0.3s;
}

.menu-header a:hover{
    color: #2F6BFF;
}

.botao-header{
    width: 180px;
    height: 48px;

    border: none;
    border-radius: 10px;

    background: #2F6BFF;
    color: white;

    font-size: 15px;
    font-weight: 700;

    cursor: pointer;

    transition: 0.5s;
    
}




/* HERO */

.hero{
    padding: 70px 20px;
}

.hero-box{
    max-width: 1200px;
    margin: 0 auto;

    background: #F8FAFC;

    border-radius: 20px;

    padding: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 10px 30px rgba(0,0,0,0.08);
}

.left{
    width: 50%;
}

.left h1{
    font-size: 56px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.left p{
    max-width: 500px;

    line-height: 34px;

    font-size: 20px;

    color: #4B5563;

    margin-bottom: 40px;
}

.botoes{
    display: flex;
    gap: 20px;
    
}

.botao-primario,
.botao-secundario{
    height: 58px;
    padding: 0 30px;

    border-radius: 10px;

    font-size: 17px;
    font-weight: 700;

    cursor: pointer;

    transition: 0.3s;
}

.botao-primario{
    border: none;

    background: #2F6BFF;
    color: white;
}

.botao-secundario{
    border: 2px solid #2F6BFF;

    background: #E0F2FE;

    color: #2F6BFF;
}

.botao-primario:hover,
.botao-secundario:hover{
    transform: translateY(-5px);
}

.right img{
    width: 900px;
}

/* TITULOS */

.section-title{
    text-align: center;

    margin-bottom: 60px;
}

.section-title h2{
    font-size: 42px;

    margin-bottom: 12px;

    font-family: 'poppins' sans-serif;
}

.section-title p{
    color: #6B7280;
}

/* CARDS */

.cards-section{
    padding: 80px 20px;
}

.cards-grid{
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);

    gap: 30px;
}

.card{
    background: white;

    border-radius: 18px;

    padding: 35px;

    text-align: center;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.05);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}


.icon{
    width: 60px;
    height: 60px;

    border-radius: 50%;

    margin: 0 auto 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-size: 24px;
}

.green{
    background: #22C55E;
}

.blue{
    background: #2F6BFF;
}

.orange{
    background: #F59E0B;
}

.card h3{
    margin-bottom: 15px;
}

.card p{
    color: #6B7280;

    line-height: 28px;

    margin-bottom: 25px;
}

.card button{
    width: 100%;
    height: 48px;

    border: none;
    border-radius: 10px;

    background: #2F6BFF;
    color: white;

    font-weight: 700;

    cursor: pointer;
}

/* QUIZ */

.quiz-section{
    background: #2563eb;
    padding: 80px 20px;
}


.quiz-content{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-left h3{
    color: white;

    font-size: 48px;

    max-width: 650px;

    margin-bottom: 25px;
}

.quiz-left p{
    color: rgba(255,255,255,0.9);

    margin-bottom: 30px;

    font-size: 18px;
}

.quiz-left button{
    width: 180px;
    height: 52px;

    border: none;
    border-radius: 10px;

    background: #22C55E;
    color: white;

    font-weight: 700;

    cursor: pointer;
    transition: 0.3s;
}

.quiz-left button:hover {
    transform: translateY(-5px);
}

.quiz-right img{
    width: 450px;
}

/* COMO AGIR */

.agir-section{
    padding: 90px 20px;
}

.agir-grid{
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);

    gap: 30px;
}

.agir-card{
    background: white;

    border-radius: 18px;

    overflow: hidden;

    padding: 20px;

    text-align: center;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.06);

    transition: 0.3s;
    
}

.agir-card:hover {
    transform: translateY(-5px);
}

.agir-card img{
    border-radius: 14px;

    margin-bottom: 25px;
}

.agir-card h3{
    margin-bottom: 15px;
}

.agir-card p{
    line-height: 28px;

    color: #6B7280;

    margin-bottom: 25px;
}

.agir-card button{
    width: 140px;
    height: 44px;

    border: none;
    border-radius: 8px;

    color: white;

    font-weight: 700;

    cursor: pointer;
}

.azul{
    background: #2563EB;
}

.laranja{
    background: #F97316;
}

.vermelho{
    background: #EF4444;
}



/* FOOTER */

.footer{
    background: #1E40AF;

    padding: 70px 20px;

    color: white;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4,1fr);

    gap: 40px;
}

.footer-col h3{
    margin-bottom: 25px;
}

.footer-col p{
    line-height: 30px;

    color: rgba(255,255,255,0.8);
}

.footer-col a{
    display: block;

    text-decoration: none;

    color: rgba(255,255,255,0.8);

    margin-bottom: 15px;

    transition: 0.3s;
}

.footer-col a:hover{
    color: white;
}

.footer-col h3:hover {
    cursor: pointer;
}

.socials{
    display: flex;
    gap: 15px;
    transition: 0.3s;
    margin-top: 20px;
}

.socials .fa-instagram:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

.socials .fa-facebook:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

.socials .fa-twitter:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

.socials i{
    width: 42px;
    height: 42px;

    border-radius: 50%;

    background: rgba(255,255,255,0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* RESPONSIVO */

@media(max-width: 1024px){

    .hero-box,
    .quiz-content,
    .sobre-container{
        flex-direction: column;
        text-align: center;
    }

    .left,
    .right,
    .sobre-left,
    .sobre-right{
        width: 100%;
    }

    .botoes{
        justify-content: center;
    }

    .cards-grid,
    .agir-grid,
    .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 768px){

    .menu-header{
        display: none;
    }

    .hero-box{
        padding: 40px 25px;
    }

    .left h1{
        font-size: 52px;
    }

    .quiz-left h2,
    .sobre-right h2,
    .section-title h2{
        font-size: 34px;
    }

    .cards-grid,
    .agir-grid,
    .footer-container{
        grid-template-columns: 1fr;
    }

    .right img,
    .quiz-right img{
        width: 100%;
    }

    .botoes{
        flex-direction: column;
    }

    .botao-primario,
    .botao-secundario{
        width: 100%;
    }

}